In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()
import numpy as np
import scipy.stats as st

 **PART A**

**Null Hypothesis** : For every plant, there is a 75% chance that it will have purple flowers, and a 25% chance that the flowers will be white, regardless of the colors in all the other plants.

**Alternative Hypothesis** : Mendel's model isn't valid.

In [46]:

total_count=929
Purple_count=726
white_count=203
xbar =Purple_count/total_count
xbar

0.7814854682454252

In [48]:
n=929

mu = 696.75
sigma = 1.42

alpha = 0.5
observed_st = abs(xbar - 0.75)
observed_st

0.0314854682454252

In [49]:
import numpy.random as npr

stimulations = 1785

for i in range(stimulations):
    an = npr.binomial(total_count, 0.75, stimulations)
    
an

array([688, 691, 694, ..., 701, 701, 696])

In [50]:
df = pd.DataFrame(an, columns =['Count'])

df['sampled']= (df['Count'] / total_count)
df = df.set_index('Count')
df['how far 0.75'] = abs(df['sampled'] - 0.75)

df

        sampled  how far 0.75
Count
688    0.740581      0.009419
691    0.743811      0.006189
694    0.747040      0.002960
707    0.761033      0.011033
722    0.777180      0.027180
...         ...           ...
716    0.770721      0.020721
710    0.764263      0.014263
701    0.754575      0.004575
701    0.754575      0.004575
696    0.749193      0.000807

[1785 rows x 2 columns]

**PART B**

null H0 : Î¼ = 60

alternate Ha : Î¼ != 60

Z-tailed test using p-value

In [4]:

n = 30
xbar = 65.10
mu = 60
sigma = 13.46
alpha = 0.05

In [8]:
z = (xbar-mu)/(sigma/np.sqrt(n))
z

2.075323211943792

In [9]:
p_val = (1 - st.norm.cdf(abs(z))) * 2
p_val

0.03795658956990633

In [11]:
if (p_val > alpha):
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Reject null hypothesis